body {
	background-color: #222223;
	border: 1px solid black;
	margin: 0;
	padding: 0;
}

/* .App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
} */

.navbar {
	margin-top: 0;
	height: 10vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: #232526;
	background-color: #34a5da;
	padding-left: 5%;
	position: absolute;
}

#prevBtn {
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: white;
}

#nextBtn {
	border: none;
	background-color: transparent;
	cursor: pointer;
	color: white;
	padding-left: 60%;
}

/* button {
	display: inline-block;
} */

.data {
	margin: 0;
	background: white;
	padding-top: 250px;
	width: 80%;
}
